*{
background-color: #8F8F8F;
font-family: "Time New Roman";
box-sizing: border-box;
border: 1px solid white
color: red
}

header{
  text-align: center;
  font-size: 230%;
  color: red;
border: 2px solid red
 font-style: oblique;
}

.new{
  font-size: 40px;
}
.krabby{
height: 250px;
width: 250px;
}
.krabby1{
text-align: center;
font-size: 80%;
font-style: italic;
color: black;
}

.picLeft{
  margin-right: 20px;
border: 2px solid red
}
.curry{
font-size: 18px;
font-style: oblique;
 height: 150px;
 width: 350px;
border: 2px solid red
}
.picRight{
border: 2px solid red;
}
.travis{
font-size: 18px;
font-style: oblique;
height: 150px;
width: 350px;
border: 2px solid red
}
.bitcoin{

border: 2px solid red
}
.bit{
   height: 150px;
   width: 350px;
  border: 2px solid red;
font-style: oblique;
font-size: 18px;
}
.gran{
  border: 2px solid red
}
.grande{
font-size: 18px;
font-style: oblique;
  height: 150px;
    width: 350px;
  border: 2px solid red;
}




@media (min-width: 780px) {



.krabby{
  position: absolute;
top: 15px;
left: 10px;
right: 0px;
bottom: 0px;
}
.krabby1{
text-align: center;
font-size: 80%;
font-style: italic;
color: black;

}

.new{
position: absolute;
  right: 0px;
  left: 350px;
  bottom: 500px;
  top: 230px;
font-size: 230%;

}
.picLeft{;
  position: absolute;
  top: 260px;
  left: 25px;
  right: 0px;
  bottom: 0px;
  margin-right: 20px;
border: 2px solid red
}
.curry{
font-style: oblique;
position: absolute;
top: 320px;
left: 270px;
right: 0px;
bottom: 0px;
 height: 150px;
 width: 350px;
border: 2px solid red
}
.picRight{
position: absolute;
top: 260px;
right: 0px;
left: 660px;
bottom: 0px;
  float: right;
  margin-right: 20px;
border: 2px solid red
}
.travis{
float: right;
position: absolute;
top: 320px;
right: 0px;
left: 900px;
bottom: 0px;
font-style: oblique;
height: 150px;
width: 350px;
border: 2px solid red
}
.bitcoin{
  position: absolute;
  top: 600px;
  left: 15px;
  right: 0px;
  bottom: 0px;
border: 2px solid red
}
.bit{
  position: absolute;
  bottom: 0px;
  left: 290px;
  right: 0px;
  top: 650px;
   height: 150px;
   width: 350px;
  border: 2px solid red;
font-style: oblique;
}
.gran{
  position: absolute;
  bottom: 0px;
  right: 0px;
 left: 660px;
 top: 600px;

    margin-right: 20px;
  border: 2px solid red
}
.grande{
  position: absolute;
  bottom: 0px;
  left: 910px;
  right: 0px;
  top: 650px;
font-style: oblique;
  height: 150px;
  width: 350px;
  border: 2px solid red
}}
@media screen and (max width: 600px) {
  header{
    color: green;
  }
}
